/* Sets the margin and padding of the body element to 0,
removing any default spacing or borders. */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Styles everything you see in the page except the sidebar*/
.container {
  background-image: url("images/denim.png"); /* Sets a background image to a dark denim looking image */
  background-repeat: repeat; /* Specifies that the background image will be repeated to cover the page */
  display: flex; /* Creates a flex container. */
  flex-direction: column; /* Sets the items inside the container in a stacking order from top to bottom */
  justify-content: center; /* Centers the content vertically within the flex container. */
  height: 100vh; /* Sets the height of the container to 100% of the screen. */
  text-align: center; /* Aligns the text content in the center. */
}

/* Styles anything with the resultBox ID */
#resultBox {
  align-items: center; /* Centers the content horizontally within the flex container. */
  background-color: transparent; /* Sets the background color to transparent. */
}

/* Styles the roll result input box. */
#rollResult {
  padding: 10px; /* Adds padding to the input box. */
  font-size: 40px; /* Sets the font size of the roll result. */
  color: #d7da5b; /* Sets the text color of the roll result. */
  border: 1px solid rgba(255, 255, 255, 0); /* Sets a transparent border for the input box. */
  background-color: rgba(255, 255, 255, 0); /* Sets the background color of the input box to transparent */
  border-radius: 5px; /* Adds rounded corners to the input box. */
  width: 780px; /* Sets the width of the input box. */
  text-align: center; /* Aligns the text content in the center. */
}

/* Styles the class controls. */
.controls {
  margin-top: 70px; /* Adds top margin for spacing between title and controls. */
  margin-bottom: 20px; /* Adds bottom margin for spacing between controls and result box. */
  display: flex; /* Creates a flex container for the controls. */
  flex-direction: column; /* Sets the flex container direction to column. */
  align-items: center; /* Centers the content horizontally within the flex container. */
}

/* Styles the title. */
h1 {
  font-size: 130px; /* Sets the font size font size of the title. */
  color: white; /* Sets the text color of the title. */
  margin: 0; /* Removes the default margin of the title. */
  margin-bottom: 20px; /* Adds bottom margin for spacing. */
}

/* Styles the labels. */
label {
  color: white; /* Sets the text color of the labels. */
  font-size: 32px; /* Sets the font size of the labels. */
  font-weight: bold; /* Sets the font weight of the labels to bold. */
  margin-bottom: 5px; /* Adds bottom margin for spacing. */
}

/* Styles the input elements with the type set to number and the dropdown menu */
input[type="number"],
select {
  padding: 10px; /* Adds padding to the input fields and select dropdown. */
  font-size: 18px; /* Sets the font size of the input fields and select dropdown. */
  border-radius: 10px; /* Adds rounded corners to the input fields and select dropdown. */
  width: 100px; /* Sets the width of the input fields and select dropdown. */
  margin-bottom: 10px; /* Adds bottom margin for spacing between input fields and select dropdown. */
}

/* Styles the roll button. */
button {
  margin-top: 10px; /* Adds top margin for spacing. */
  padding: 15px 30px; /* Sets the padding of the button. */
  background-color: #4CAF50; /* Sets the background color of the button. */
  color: white; /* Sets the text color of the button. */
  font-size: 20px; /* Increases the font size of the button. */
  border: none; /* Removes the border of the button. */
  border-radius: 50px; /* Adds rounded corners to the button. */
  cursor: pointer; /* Changes the cursor style to a pointer on hover. */
}

/* Styles the roll button on hover. */
button:hover {
  background-color: #45a049; /* Changes the background color of the button when hovering. */
}

/* Styles the sidebar. */
.sidebar {
  width: 300px; /* Sets the width of the sidebar. */
  height: 650px; /* Sets the height of the sidebar. */
  color: white; /* Sets the text color of the sidebar. */
  background-color: rgba(211, 211, 211, 0.2); /* Sets the background color of the sidebar with transparency. */
  padding: 20px; /* Adds padding to the sidebar content. */
  position: absolute; /* Sets the position of the sidebar to absolute. */
  right: 20px; /* Positions the sidebar to the right side. */
  top: 50%; /* Positions the sidebar to the vertical center. */
  transform: translateY(-50%); /* Moves the sidebar up by 50% of its own height. */
  overflow-y: auto; /* Adds a scroll bar if the contents exceed the size of the sidebar. */
}

/* Styles the error label. */
#errorLabel {
  color: red; /* Sets the text color of the error label to red. */
  font-size: 24px; /* Sets the font size of the error label. */
  visibility: hidden; /* Hides the error label by default. */
}
